#container{
    display: flex;
    flex-direction: column;

}
#AddButton{
    background-color:#dae8fc;
    position:relative;
    width: 30%;
    height:100%;
    border-style: solid;
    border-color: #91add2;
    border-radius: 10px;
    text-align: center;
    font-size:300%;
    height: 10%;    
}
#AddButton:active {
    transform: translateY(2px);
}
#varainput{
    position: relative;
    font-size:300%;
    width: 66%;
    border-radius: 5px;
    height: 100%;
}
header{
    position: relative;
    width: 40%;
    height: 20%;
    background-color:#b0e3e6;
    font-size:larger;
    text-align: center;
    background-position: center;
    margin: auto;
}
nav{
    text-align: center;
    margin: auto;
    background-color: #d5e8d4;
    border-style: solid;
    border-color: #b3caae;
}
main{
    
    background-color: #d5e8d4;
    max-height: 60%;
    overflow-y: scroll;
    text-align: center;
    margin: auto;
    position:relative;
    width: 85%;
    border-style: solid;
    border-width: 2px;
    border-color: #b3caae;
}
#varatable{
    background-color: #fff2cc;
    font-size: xx-large;
    text-align: center;
    border-style: solid;
    border-color: #e1c676;
    border-radius: 10px;
}
footer{
    height: 20%;
    width: 85%;
    position: relative;
    background-color: aqua;
    margin: auto;
    text-align: center;
}
#allabutton{
    font-size: xx-large;
    margin-left: auto;
    
}
#valdabutton{
    font-size: xx-large;
    margin-right: auto;
}
table{
    margin: auto;
    width: 80%;
}
