body{
    background-color: rgb(255, 225, 229);
}
#container{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

}
#AddButton{
    background-color:#dae8fc;
    position:relative;
    width: 30%;
    height:100%;
    border-style: solid;
    border-color: #91add2;
    border-radius: 10px;
    text-align: center;
    font-size:300%;  
}
#AddButton:active {
    transform: translateY(2px);
}
#varainput{
    position: relative;
    font-size:300%;
    width: 66%;
    border-radius: 5px;
    height: 100%;
}
header{
    width: 85%;
    background-color:#b0e3e6;
    font-size:larger;
    text-align: center;
    margin: auto;
}
nav{
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #d5e8d4;
    border-style: solid;
    border-color: #b3caae;
    border-width: 2px;
    border-color: #b3caae;
}
main{

    background-color: #d5e8d4;
    overflow-y: scroll;
    text-align: center;
    margin: 0 auto;
    width: 85%;
    border-style: solid;
    border-width: 2px;
    border-color: #b3caae;
}
#varatable{
    background-color: #fff2cc;
    font-size: xx-large;
    text-align: center;
    border-style: solid;
    border-color: #e1c676;
    border-radius: 10px;
}
footer{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

table{
    margin: auto;
    width: 80%;
}
#allabutton{
    font-size: 300%;
    background-color: rgb(138, 0, 0);
    border-color:rgb(33, 0, 0);
    color: rgb(202, 202, 202);
    border-radius: 15px;
    border-width: 15px;
}
#valdabutton{
    font-size: 300%;
    background-color: rgb(52, 0, 0);
    color: darkgrey;
    border-radius: 15px;
    border-width: 15px;
    
}
#allabutton:active {
    transform: translateY(4px);
    background-color: black;
    color: darkgrey;
    
}
#valdabutton:active {
    transform: translateY(4px);
    background-color: black;
    color: grey;
}